body {
    font-family: sans-serif;
    font-size: small;
}

h1 {
    margin: 0.2em 0;
}

h2 {
    margin: 0.2em 0;
}

h3 {
    margin: 0.2em 0;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

div.type {
    margin: 4px;
    padding: 8px;
    vertical-align: top;
    display: inline-block;
    border: 3px solid lightgrey;
    border-radius: 10px;
}

div.test {
    margin: 4px;
    padding: 8px;
    width: 300px;
    vertical-align: top;
    display: inline-block;
    border: 3px solid darkblue;
    border-radius: 10px;
    background-color: azure;
}

div#qrcode {
    margin: 4px;
    padding: 8px;
/*     width: 300px; */
    vertical-align: top;
    display: inline-block;
    border: 3px solid darkblue;
    border-radius: 10px;
/*     background-color: azure; */
}

div#status {
    font-weight: bold;
/*     background-color: azure; */

}

div#info {
    margin: 4px;
    padding: 8px;
/*     width: 300px; */
    vertical-align: top;
    display: inline-block;
    border: 3px solid lightblue;
    border-radius: 10px;
    background-color: azure;
}
