<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h2>eduWallet Sandbox</h2>
<form action='/test' name='myForm' method=POST>
<input type=hidden name=test_id>
<div>
    <input type=checkbox name=pin> Pin
</div>
{% for id, test in tests.items() %}
    <a href="#" onclick="return myClick('{{id}}');"><div class=test>
        <h3>{{ test.name }}</h3>
        <p>{{ test.description }}</p>
        <p>credential type: {{ test.credential.type }}</p>
        <p>type: {{ test.type }}</p>
        <p>spec: {{ test.spec_version }}</p>
    </div></a>
{% endfor %}
</form>

<script type="text/javascript">
function myClick(test_id) {
    // alert(test_id);
    document.myForm.test_id.value = test_id;
    document.myForm.submit();
    return false;
}


</script>
</body>
</html>
