<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h2><img src="{{ url_for('static', filename='wallet.ico') }}" width=32 align=top> eduWallet Sandbox</h2>
<form action='/test' name='theForm' method=POST>
<input type=hidden name=test_file>
<input type=hidden name=test_id>
<div class=group>
    <div class=together>
    <p></p>
    <p>
        GenericCredential<br>
        SupportCredential<br>
        StudyDataCredential<br>
        StudentCardCredential<br>
        ExamEnrollmentCredential
    </p>
    </div>
    <div class=together>
        <p>VC Type</p>
        <p><input type=radio name=vc_type value=_JWT checked> VC_JWT</p>
        <p><input type=radio name=vc_type value=_LD> LD_JWT</p>
        <p><input type=radio name=vc_type value=_SD> SD_JWT</p>
    </div>
</div>
<div class=group>
    <div class=together>
        <p>Pin Length</p>
        <p><input type=radio name=tx_code_len value=0 checked> None</p>
        <p><input type=radio name=tx_code_len value=4> 4</p>
        <p><input type=radio name=tx_code_len value=6> 6</p>
    </div>
    <div class=together>
        <p>Pin Type</p>
        <p><input type=radio name=tx_code_mode value=numeric checked> Numeric</p>
        <p><input type=radio name=tx_code_mode value=text> Text</p>
    </div>
</div>
<br>

{% for file, tests in testset.items() %}
<div class=group>
<p>{{ file }}</p>
{% for id, test in tests.items() %}
<div class=test onclick="return clickTest('{{file}}', '{{id}}');">
    <h3>{{ test.name }}</h3>
    <p><b>type:</b> {{ test.credential.type }}</p>
    {% if test.flow %}
    <p><b>flow:</b> {{ test.flow }}</p>
    {% endif %}
    {% if test.options %}
    <p><b>options:</b></p>
    <p style='margin-left: 10px'>
    {% for option, value in test.options.items() %}
    {{ option }} ({{ value }})<br>
    {% endfor %}
    </p>
    {% endif %}
    <p class=description>{{ test.description }}</p>
</div>
{% endfor %}
</div>
{% endfor %}
</form>

<script type="text/javascript">
function clickTest(test_file, test_id) {
    document.theForm.test_file.value = test_file;
    document.theForm.test_id.value = test_id;
    document.theForm.submit();
    return false;
}
</script>
</body>
</html>
