<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h2><img src="{{ url_for('static', filename='wallet.ico') }}" width=32 align=top> eduWallet Sandbox</h2>
<form action='/test' name='theForm' method=POST>
<input type=hidden name=test_id>
<div class=group>
    <p>Type test</p>
    <p><input type=checkbox name=ld_jwt value=On> LD_JWT</p>
    <p><input type=checkbox name=vc_jwt value=On> VC_JWT</p>
    <p><input type=checkbox name=sd_jwt value=On> SD_JWT</p>
</div>
<div class=group>
    <p>Radio test</p>
    <p><input type=radio name=radio value=radio1 checked> Radio 1</p>
    <p><input type=radio name=radio value=radio2> Radio 2</p>
    <p><input type=radio name=radio value=radio3> Radio 3</p>
</div>
<br>

<div class=group>
<p>Somegroup test</p>
{% for id, test in tests.items() %}
<div class=test onclick="return clickTest('{{id}}');">
    <h3>{{ test.name }}</h3>
    <p>{{ test.description }}</p>
    <p>credential type: {{ test.credential.type }}</p>
    <p>type: {{ test.type }}</p>
    <p>spec: {{ test.spec_version }}</p>
</div>
{% endfor %}
</div>
</form>

<script type="text/javascript">
function clickTest(test_id) {
    document.theForm.test_id.value = test_id;
    document.theForm.submit();
    return false;
}
</script>
</body>
</html>
