<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h2>eduWallet Sandbox</h2>
{% for id, test in tests.items() %}
    <a href="/{{ id }}"><div class=test>
        <h3>{{ test.name }}</h3>
        <p>{{ test.description }}</p>
        <p>credential type: {{ test.credential.type }}</p>
        <p>type: {{ test.type }}</p>
        <p>spec: {{ test.spec_version }}</p>
    </div></a>
{% endfor %}

</body>
</html>
